language: php

sudo: false

php:
    - 7.0
    - 7.1

install:
    - composer update --prefer-source --no-interaction

script:
    - vendor/bin/phpunit --coverage-text

notifications:
    email: false
